

.first{
   float:left;
   width:25%;
}
.second{
   float:left;
   width:25%;
}
.third{
   float:left;
   width:25%;
}
.fourth{
   float:right;
   width:25%;
}

@media (max-width:800px) and (min-width:300px){
   .container{
      display:grid;
   }
}